####################### Loger
LOGER_USER =
LOGER_PASSWORD =
URL_LOGER = 
LOGER_CENTROS_29=
LOGER_CENTROS_212=
#######################

####################### Automate
LOGER_29_AUTOMATE_URL =
LOGER_212_AUTOMATE_URL =
#######################

####################### Supabase
SUPABASE_URL=
SUPABASE_KEY=
#######################

####################### Power Bi
EMAIL_POWERBI=
SENHA_POWERBI=
# Workspace BR - LCB - Relatórios Logistica/Xcelis (Oficial)
WORKSPACE_XCELIS=
RELATORIO_PREVIA_HXH=
# Opcional: ID da página específica (se quiser abrir em uma aba exata)
PAGINA = 
#######################


####################### Evolution Api Core
AUTHENTICATION_TYPE=
AUTHENTICATION_API_KEY=
AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES=
SERVER_PORT=

####################### Instância & App
AUTHENTICATION_API_KEY=
EVOLUTION_URL=
EVOLUTION_INSTANCE=
EVOLUTION_KEY_INSTANCE=
REPORT_PHONE=
ALERT_PHONE=
####################### Persistência e Cache (Crucial para Grupos)
STORE_MESSAGE_UP=true
STORE_CONTACTS=true
STORE_CHATS=true
STORE_GROUP_METADATA=true  
DEL_INSTANCE=false
#######################